* {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

body:has(option[value="theme-green"]:checked) {
  --body-background: linear-gradient(135deg, #6E812A, #226B2A, #054A44);
  --button-background: #6BA55D;
  --button-background-hover: hsl(108, 29%, 71%);
  --text-color:black;
}
body:has(option[value="theme-black"]:checked) {
  --body-background: black;
  --button-background: black;
  --button-background-hover: black;
  --text-color: white;
}
body {
	--two-buttons-display: flex;
}
body:has(input[id="hide-buttons"]:checked) {
	--two-buttons-display: none;
	color:red;
}

.button {
  /* background-color: #6BA55D; */
  background-color: var(--button-background);
  color: white;
  border: none;
  /* margin: 20px; */
  height: 3.8rem;
  font-size: 1.7rem;
  width: 10rem;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
}



.button:hover {
  cursor: pointer;
  /* background-color: hsl(108, 29%, 71%); */
  background-color: var(--button-background-hover);
}

.button:active {
  background-color: rgb(255, 136, 136);
  color: dark;
}

.indicateurs button {
	width:4rem;
}

.indicateurs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}

.indicateurs div {
  /* background: linear-gradient(135deg, #6E812A, #226B2A); */
  background: var(--body-background);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
}

.input {
  height: 3.8rem;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  background-color: #054A44;
  font-weight: bold;
  color: white;
  /* width: fit-content; */
  width: 5.8rem;
  margin: 0.8rem auto;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.5);
}

.input:hover {
  background-color: hsl(175, 87%, 25%);
}

.input:focus {
  border: hidden;
}

br {
  height: 0.8rem;
}

body {
  /*https://developer.mozilla.org/fr/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element*/
  margin: 1.8rem;
  font-size: 1.5rem;
  /* max-width: 1280px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh; /*100vh not recommanded*/
  /* background-color: hsl(108, 29%, 71%); */
  background-color: var(--button-background-hover);
  position-anchor: 0;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
  /* width: 100vw; */
  margin: auto;
  color: var(--text-color);
}

.main {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: fit-content;
}

.twoButtons {
 /* display: flex;*/
	display: var(--two-buttons-display);
  flex-direction: row;
}

#reload {
  background-color: white;
  text-wrap: nowrap;
  color: #054A44
  
}

#reload:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(175, 87%, 25%)
}

.table-jeu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* border-radius: 10px; */
}

.plateau-boutons {
  /* background: linear-gradient(135deg, #6E812A, #226B2A, #054A44); */
  background: var(--body-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}

.version-source {
	font-size: 1rem;
	justify-content: space-between;
	display: flex;
  color: var(--text-color);
}

.input-zone {
  display:flex;
  justify-content:space-evenly;
}

.input-zone span {
  color: var(--text-color);
}

.hidden {
 display:none;
}
