button {
  background-color: black;
  color: white;
  border: none;
  margin: 20px;
  min-height: 50px;
  width: 50%;
  font-weight: bold;
}

input {
  height: 3rem;
}

br {
 height: 2rem;
}
#increase {
  background-color: green !important;
}

#decrease {
  background-color: red !important;
}

body {
  /*https://developer.mozilla.org/fr/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element*/
  display: grid;
  margin: 5%;
  font-family: monospace;
}
