.button {
  background-color: black;
  color: white;
  border: none;
  /* margin: 20px; */
  height: 4rem;
  font-size: 1.8rem;
  width: 50%;
  font-weight: bold;
}

button:hover {
  cursor:pointer;
}

button:active {
  background-color: rgb(255, 136, 136) ;
  color:dark;
}

input {
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  border: none;
  background-color: grey;
}

br {
 height: 1rem;
}
#increase {
  background-color: green !important;
}

#decrease {
  background-color: red !important;
}

body {
  /*https://developer.mozilla.org/fr/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element*/
  margin: 5%;
  font-size: 1.6rem;
  font-family: monospace;
  max-width: 1280px;
  align-items: center;
}

h1 {
    font-size:1.8rem;
}
        
.main {
  display:flex;
  flex-direction: column;
    height: 100%;
}

.twoButtons {
  display:flex;
  flex-direction: row;
}

#reload {
   background-color: red;
   text-wrap: nowrap;
}
