button {
  background-color: black;
  color: white;
  border: none;
  margin: 20px;
  min-width: 50px;
  min-height: 50px;
  max-width: 50%;
  font-weight: bold;
}


br {
 height: 2rem;
}
#increase {
  background-color: green !important;
}

#decrease {
  background-color: red !important;
}

body {
  /*https://developer.mozilla.org/fr/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element*/
  display: grid;
  /*place-items: center;*/
  font-family: monospace;
}
