button {
  background-color: black;
  color: white;
  border: none;
  margin: 20px;
  min-width: 20px;
  min-height: 20px;
  max-width: 50%;
  font-weight: bold;
}

#increase {
  background-color: green;
}

#decrease {
  background-color: red;
}

* {
  font-size: large;
  font-family: monospace;
}
